<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active-link"
      ><img src="./../../../assets/images/logo.png"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/category/1"
            routerLinkActive="active-link"
            >Books</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/category/2"
            routerLinkActive="active-link"
            >Cars</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/category/3"
            routerLinkActive="active-link"
            >Phones</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/category/4"
            routerLinkActive="active-link"
            >Laptops</a
          >
        </li>
      </ul>

      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search" />
        <button class="btn btn-primary" type="button">Search</button>
      </form>
      <hr />

      <a><i class="bi bi-key"></i></a>

      <a routerLink="favorite" routerLinkActive="active-link" 
        ><i class="bi bi-bookmark-star"></i
      ></a>

      <a href><i class="bi bi-cart4"></i></a>
    </div>
  </div>
</nav>
